# Widgets queries and visualizations

In [2]:
import pandas as pd
import json
import requests
import numpy as np

## Index:

## Current widgets; migration to the new table structure.

### Global, All crops

#### WATER STRESS ON FOOD PRODUCTION

 * Dataset_id: 5be16fea-5b1a-4daf-a9e9-9dc1f6ea6d4e
 * Widget_id: 7b29a2a5-515a-4e22-846f-03ad3d2c0a13
 * Units: 
     * water stress:
     * food production:

 * Dataset csv or json connector sql:

    ```sql

    ```

 * Widget Api sql:

    ```sql
with t as (select sum(area) as area, {{water_column}} as risk, crop from crops_stats group by {{water_column}}, crop order by risk asc), r as (SELECT sum(value) as value, commodity FROM combined01_prepared where year='{{year}}' and impactparameter='Food Demand' group by commodity ), d as ( select (value*100/(sum(value) over())) as value, commodity from r ) select crop, risk,value, (area*100/sum(area) over(partition by crop)) area_perc from d inner join t on lower(commodity)=crop order by risk asc, crop asc
    ```
 * Parametrization:
    ``` json
    "params_config": [{
            "key":"water_column",
            "required":true
            }],
        "sql_config": [{
            "key": "where", 
            "key_params":[{
                "key":"iso",
                "required":false},{ 
                "key":"crop",
                "required":false},{ 
                "key":"irrigation",
                "required":false}]
                    }],

    ```

 * Visualization type: Marimmeko

In [17]:
payload = {'q': "select * from water_risk_indicators where indicator = 'water_stress' and model in ('bau', 'historic') and period='year' and type='absolute' and basinid = 7664 order by year asc"}
r = requests.get('https://wri-01.carto.com/api/v2/sql', params=payload)
print(r)
tableStructure= pd.read_json(json.dumps(r.json()['rows']), orient='records')
tableStructure.head(1)

<Response [200]>

,basinid,cartodb_id,indicator,label,model,period,period_value,the_geom,the_geom_webmercator,type,value,year
0,7664,9,water_stress,3. Medium to high (0.5-0.75),historic,year,NaN,NaN,NaN,absolute,0.556385,2014

In [1]:
%%html 
<iframe src="http://aqueduct-water-food-security.herokuapp.com/embed?state=eyJmaWx0ZXJzIjp7ImNyb3AiOiJhbGwiLCJzY29wZSI6Imdsb2JhbCIsInBlcmlvZCI6InllYXIiLCJwZXJpb2RfdmFsdWUiOiJiYXNlbGluZSIsInllYXIiOiJiYXNlbGluZSIsImZvb2QiOiJub25lIiwiaW5kaWNhdG9yIjoibm9uZSIsImlycmlnYXRpb24iOlsiaXJyaWdhdGVkIiwicmFpbmZlZCJdLCJ0eXBlIjoiYWJzb2x1dGUifSwiZW1iZWQiOnsiaWQiOiJjNGVlODk0Zi0yYTlmLTQ2ODEtOWMzZC1kOTRjZjEwNmY3OTYifX0=" width="600" height="420" frameborder="0" style="border:0" allowfullscreen></iframe>

#### SUMMARY TABLE, TOTAL CROPS PRODUCTION AREA

 * Dataset_id:
 * Widget_id:

 * Dataset connector sql:

    ```sql

    ```

 * Widget Api sql:

    ```sql

    ```
 * Parametrization:
    ``` json
    "params_config": [{
            "key":"water_column",
            "required":true
            }],
        "sql_config": [{
            "key": "where", 
            "key_params":[{
                "key":"iso",
                "required":false},{ 
                "key":"crop",
                "required":false},{ 
                "key":"irrigation",
                "required":false}]
                    }],

    ```

 * Visualization type: Bar chart

#### COUNTRY WATER RISK EXPOSURE AND RISK OF HUNGER

 * Dataset_id:
 * Widget_id:

 * Dataset connector sql:

    ```sql

    ```

 * Widget Api sql:

    ```sql

    ```
 * Parametrization:
    ``` json
    "params_config": [{
            "key":"water_column",
            "required":true
            }],
        "sql_config": [{
            "key": "where", 
            "key_params":[{
                "key":"iso",
                "required":false},{ 
                "key":"crop",
                "required":false},{ 
                "key":"irrigation",
                "required":false}]
                    }],

    ```

 * Visualization type: Bar chart

#### Widget name

Dataset connector sql:

```sql

```

Widget Api sql:

```sql

```
Parametrization:
``` json
"params_config": [{
		"key":"water_column",
		"required":true
  		}],
  	"sql_config": [{
  		"key": "where", 
  		"key_params":[{
  			"key":"iso",
  			"required":false},{ 
  			"key":"crop",
  			"required":false},{ 
  			"key":"irrigation",
  			"required":false}]
                }],

```

Visualization type: Bar chart

#### RAINFED VS IRRIGATED

 * Dataset_id:
 * Widget_id:

 * Dataset connector sql:

    ```sql

    ```

 * Widget Api sql:

    ```sql

    ```
 * Parametrization:
    ``` json
    "params_config": [{
            "key":"water_column",
            "required":true
            }],
        "sql_config": [{
            "key": "where", 
            "key_params":[{
                "key":"iso",
                "required":false},{ 
                "key":"crop",
                "required":false},{ 
                "key":"irrigation",
                "required":false}]
                    }],

    ```

 * Visualization type: Bar chart

### Global, one crop

#### CROP'S PRODUCING AREAS EXPOSED TO WATER STRESS.

 * Dataset_id:
 * Widget_id:

 * Dataset connector sql:

    ```sql

    ```

 * Widget Api sql:

    ```sql

    ```
 * Parametrization:
    ``` json
    "params_config": [{
            "key":"water_column",
            "required":true
            }],
        "sql_config": [{
            "key": "where", 
            "key_params":[{
                "key":"iso",
                "required":false},{ 
                "key":"crop",
                "required":false},{ 
                "key":"irrigation",
                "required":false}]
                    }],

    ```

 * Visualization type: Marimmeko

### Country, one crops

#### Country summary table

 * Dataset_id:
 * Widget_id:

 * Dataset connector sql:

    ```sql

    ```

 * Widget Api sql:

    ```sql

    ```
 * Parametrization:
    ``` json
    "params_config": [{
            "key":"water_column",
            "required":true
            }],
        "sql_config": [{
            "key": "where", 
            "key_params":[{
                "key":"iso",
                "required":false},{ 
                "key":"crop",
                "required":false},{ 
                "key":"irrigation",
                "required":false}]
                    }],

    ```

 * Visualization type: Marimmeko

#### CROPS PRODUCED IN AREAS OF HIGH WATER STRESS

 * Dataset_id:
 * Widget_id:

 * Dataset connector sql:

    ```sql

    ```

 * Widget Api sql:

    ```sql

    ```
 * Parametrization:
    ``` json
    "params_config": [{
            "key":"water_column",
            "required":true
            }],
        "sql_config": [{
            "key": "where", 
            "key_params":[{
                "key":"iso",
                "required":false},{ 
                "key":"crop",
                "required":false},{ 
                "key":"irrigation",
                "required":false}]
                    }],

    ```

 * Visualization type: Marimmeko

#### GROWING CROPS UNDER WATER STRESS CONDITIONS.


 * Dataset_id:
 * Widget_id:

 * Dataset connector sql:

    ```sql

    ```

 * Widget Api sql:

    ```sql

    ```
 * Parametrization:
    ``` json
    "params_config": [{
            "key":"water_column",
            "required":true
            }],
        "sql_config": [{
            "key": "where", 
            "key_params":[{
                "key":"iso",
                "required":false},{ 
                "key":"crop",
                "required":false},{ 
                "key":"irrigation",
                "required":false}]
                    }],

    ```

 * Visualization type: Marimmeko

### Global, All crops

#### Country SUMMARY


 * Dataset_id:
 * Widget_id:

 * Dataset connector sql:

    ```sql

    ```

 * Widget Api sql:

    ```sql

    ```
 * Parametrization:
    ``` json
    "params_config": [{
            "key":"water_column",
            "required":true
            }],
        "sql_config": [{
            "key": "where", 
            "key_params":[{
                "key":"iso",
                "required":false},{ 
                "key":"crop",
                "required":false},{ 
                "key":"irrigation",
                "required":false}]
                    }],

    ```

 * Visualization type: Marimmeko

#### CROPS GROWING UNDER HIGH WATER STRESS CONDITIONS IN A COUNTRY


 * Dataset_id:
 * Widget_id:

 * Dataset connector sql:

    ```sql

    ```

 * Widget Api sql:

    ```sql

    ```
 * Parametrization:
    ``` json
    "params_config": [{
            "key":"water_column",
            "required":true
            }],
        "sql_config": [{
            "key": "where", 
            "key_params":[{
                "key":"iso",
                "required":false},{ 
                "key":"crop",
                "required":false},{ 
                "key":"irrigation",
                "required":false}]
                    }],

    ```

 * Visualization type: Marimmeko

#### PERCENTAGE OF COUNTRY'S POPULATION AT HIGH RISK OF HUNGER.

 * Dataset_id:
 * Widget_id:

 * Dataset connector sql:

    ```sql

    ```

 * Widget Api sql:

    ```sql
WITH RESULT AS (SELECT round(value::numeric, 2) AS value, region, year, iso FROM combined01_prepared WHERE year = 2030 AND impactparameter = 'Share Pop. at risk of hunger' AND scenario = 'SSP2-MIRO' and iso = upper('BRA')) 
SELECT CASE WHEN year > 2010 THEN 'will be' ELSE 'are' END AS verb, 
CASE WHEN year > 2010 THEN 'in ' || to_char(YEAR, '9999') ELSE '' END AS YEAR, 
Case when value < 1 then 'less than 1' else to_char(value, '9999') end as value, 
region AS country, iso FROM RESULT
    ```
 * Parametrization:
    ``` json
    "widgetConfig": {
          "data": {
            "url": "https://wri-01.carto.com/api/v2/sql?q=WITH RESULT AS (SELECT                 round(value::numeric, 2) AS value, region, year, iso FROM combined01_prepared WHERE year = {{year}} AND impactparameter = 'Share Pop. at risk of hunger' AND scenario = 'SSP2-MIRO' and iso = upper('{{iso}}'))  SELECT CASE WHEN year > 2010 THEN 'will be' ELSE 'are' END AS verb, CASE WHEN year > 2010 THEN 'in ' || to_char(year, '9999') ELSE '' END AS year, CASE WHEN value < 1 THEN 'less than 1' ELSE to_char(value, '9999') END AS value, region AS country, iso FROM RESULT"
          },
          "type": "text",
          "template": "{{value}} of country's population {{verb}} at high risk of hunger {{year}} in {{country}}.",
          "sql_config": [],
          "sql_params": [],
          "params_config": [
            {
              "key": "year",
              "required": true
            },
            {
              "key": "iso",
              "required": true
            }
          ],
          "template_config": [
            {
              "key": "verb"
            },
            {
              "key": "value",
              "suffix": "%"
            },
            {
              "key": "country"
            },
            {
              "key": "year"
            }
          ]
        }
    ```

 * Visualization type: Text

#### WATER RISK

 * Dataset_id:
 * Widget_id:

 * Dataset connector sql:

    ```sql

    ```

 * Widget Api sql:

    ```sql

    ```
 * Parametrization:
    ``` json
    "params_config": [{
            "key":"water_column",
            "required":true
            }],
        "sql_config": [{
            "key": "where", 
            "key_params":[{
                "key":"iso",
                "required":false},{ 
                "key":"crop",
                "required":false},{ 
                "key":"irrigation",
                "required":false}]
                    }],

    ```

 * Visualization type: Marimmeko

## New widgets

with crop_area as (SELECT sum(area) area_crop, basinid, crop, iso, irrigation FROM crops group by basinid, crop, iso, irrigation),
crop_stats as (select sum(area_crop) over (partition by  crop, irrigation) as T_crop_ha, area_crop, basinid, crop, irrigation, iso from crop_area),
statistics as (select crop_stats.*, (wri_subcatchements.area_km2*100) as T_basin_ha, indicator, label, model, period, period_value, type, value, year, (area_crop) as weights from crop_stats inner join wri_subcatchements on wri_subcatchements.basinid=crop_stats.basinid inner join water_risk_indicators on water_risk_indicators.basinid=crop_stats.basinid where indicator in ('water_stress','seasonal_variability') and model in ('bau')),
c as (
select (sum(value*weights)/sum(distinct T_crop_ha)) water_risk, crop, year from statistics where indicator = 'water_stress' and type='absolute'and irrigation='rainfed' group by crop, year order by crop asc, year asc),
s as (select min(water_risk) over (), max(water_risk) over (), c.* from c),
categories as (select unnest(Array['all pulses', 'lentils', 'wheat', 'cowpeas', 'barley', 'rice', 'groundnut', 'beans', 'chickpeas', 'plantain', 'potato', 'sorghum', 'banana', 'pigeonpeas', 'millet', 'soybean', 'sweet potato', 'maize', 'yams', 'all cereals', 'cassava']) as crop, unnest(Array[2,2,1,2,1,1,2,2,2,4,3,1,4,2,1,5,4,1,3,1,4]) as crop_type)
f as (
(select crop, year, (100*(water_risk-min)/(max-min)) as water_risk from s order by crop asc, year asc)
union all
(select  'total crops avg' as crop, year, avg(100*(water_risk-min)/(max-min)) as water_risk from s group by year,1))

### Global, All crops

#### water stress change over time for irrigated crops by crop type (cereals, legumes + pulses, roots + tubers, fruits, oilseed, and add a line for all crops average)

 * Dataset_id: 
 * Widget_id: 
 * Units: 
     * 
     * 

 * Dataset csv or json connector sql:

    ```sql
    asd
    
    ```

 * Widget Api sql:

    ```sql
with t as (select sum(area) as area, {{water_column}} as risk, crop from crops_stats group by {{water_column}}, crop order by risk asc), r as (SELECT sum(value) as value, commodity FROM combined01_prepared where year='{{year}}' and impactparameter='Food Demand' group by commodity ), d as ( select (value*100/(sum(value) over())) as value, commodity from r ) select crop, risk,value, (area*100/sum(area) over(partition by crop)) area_perc from d inner join t on lower(commodity)=crop order by risk asc, crop asc
    ```
 * Parametrization:
    ``` json
    "params_config": [{
            "key":"water_column",
            "required":true
            }],
        "sql_config": [{
            "key": "where", 
            "key_params":[{
                "key":"iso",
                "required":false},{ 
                "key":"crop",
                "required":false},{ 
                "key":"irrigation",
                "required":false}]
                    }],

    ```

 * Visualization type: multi-line-chart

In [8]:
t = 3 * np.random.rand((3*6))
t

array([ 1.49484394,  1.66757797,  0.15115243,  1.45246536,  0.8493165 ,
        2.85398534,  0.16091286,  0.73509884,  1.78518054,  0.43781698,
        2.93530479,  2.24185164,  0.9955913 ,  0.2655955 ,  1.41888662,
        2.52025593,  1.93510505,  2.86703567])

In [11]:
t =np.random.rand((12))*1000 +200
t

array([  535.28313846,  1112.24011224,   511.29972326,   871.01609363,
         430.69500723,   297.33897077,   754.17683616,   760.73458005,
         627.83455877,   815.77575532,  1101.44650379,  1010.89923102])

#### Seasonal variability change over time for irrigated crops by crop type (cereals, legumes + pulses, roots + tubers, fruits, oilseed, and add a line for all crops average)

 * Dataset_id: 
 * Widget_id: 
 * Units: 
     * 
     * 

 * Dataset csv or json connector sql:

    ```sql
    asd
    
    ```

 * Widget Api sql:

    ```sql
with t as (select sum(area) as area, {{water_column}} as risk, crop from crops_stats group by {{water_column}}, crop order by risk asc), r as (SELECT sum(value) as value, commodity FROM combined01_prepared where year='{{year}}' and impactparameter='Food Demand' group by commodity ), d as ( select (value*100/(sum(value) over())) as value, commodity from r ) select crop, risk,value, (area*100/sum(area) over(partition by crop)) area_perc from d inner join t on lower(commodity)=crop order by risk asc, crop asc
    ```
 * Parametrization:
    ``` json
    "params_config": [{
            "key":"water_column",
            "required":true
            }],
        "sql_config": [{
            "key": "where", 
            "key_params":[{
                "key":"iso",
                "required":false},{ 
                "key":"crop",
                "required":false},{ 
                "key":"irrigation",
                "required":false}]
                    }],

    ```

 * Visualization type: multi-line-chart

#### Unique variable: crop type (+ all crop average). X-axis: time. Y-axis: water stress ranking.

 * Dataset_id: 
 * Widget_id: 
 * Units: 
     * 
     * 

 * Dataset csv or json connector sql:

    ```sql
    asd
    
    ```

 * Widget Api sql:

    ```sql
with t as (select sum(area) as area, {{water_column}} as risk, crop from crops_stats group by {{water_column}}, crop order by risk asc), r as (SELECT sum(value) as value, commodity FROM combined01_prepared where year='{{year}}' and impactparameter='Food Demand' group by commodity ), d as ( select (value*100/(sum(value) over())) as value, commodity from r ) select crop, risk,value, (area*100/sum(area) over(partition by crop)) area_perc from d inner join t on lower(commodity)=crop order by risk asc, crop asc
    ```
 * Parametrization:
    ``` json
    "params_config": [{
            "key":"water_column",
            "required":true
            }],
        "sql_config": [{
            "key": "where", 
            "key_params":[{
                "key":"iso",
                "required":false},{ 
                "key":"crop",
                "required":false},{ 
                "key":"irrigation",
                "required":false}]
                    }],

    ```

 * Visualization type: multi-line-chart

#### Change in seasonal variability for rainfed crops by crop type (+ all crop average)

 * Dataset_id: 
 * Widget_id: 
 * Units: 
     * 
     * 

 * Dataset csv or json connector sql:

    ```sql
    asd
    
    ```

 * Widget Api sql:

    ```sql
with t as (select sum(area) as area, {{water_column}} as risk, crop from crops_stats group by {{water_column}}, crop order by risk asc), r as (SELECT sum(value) as value, commodity FROM combined01_prepared where year='{{year}}' and impactparameter='Food Demand' group by commodity ), d as ( select (value*100/(sum(value) over())) as value, commodity from r ) select crop, risk,value, (area*100/sum(area) over(partition by crop)) area_perc from d inner join t on lower(commodity)=crop order by risk asc, crop asc
    ```
 * Parametrization:
    ``` json
    "params_config": [{
            "key":"water_column",
            "required":true
            }],
        "sql_config": [{
            "key": "where", 
            "key_params":[{
                "key":"iso",
                "required":false},{ 
                "key":"crop",
                "required":false},{ 
                "key":"irrigation",
                "required":false}]
                    }],

    ```

 * Visualization type: multi-line-chart

#### X-axis: time. Y-axis left: water stress ranking for irrigated, Y-axis right: seasonal variability ranking for rainfed

 * Dataset_id: 
 * Widget_id: 
 * Units: 
     * 
     * 

 * Dataset csv or json connector sql:

    ```sql
    asd
    
    ```

 * Widget Api sql:

    ```sql
with t as (select sum(area) as area, {{water_column}} as risk, crop from crops_stats group by {{water_column}}, crop order by risk asc), r as (SELECT sum(value) as value, commodity FROM combined01_prepared where year='{{year}}' and impactparameter='Food Demand' group by commodity ), d as ( select (value*100/(sum(value) over())) as value, commodity from r ) select crop, risk,value, (area*100/sum(area) over(partition by crop)) area_perc from d inner join t on lower(commodity)=crop order by risk asc, crop asc
    ```
 * Parametrization:
    ``` json
    "params_config": [{
            "key":"water_column",
            "required":true
            }],
        "sql_config": [{
            "key": "where", 
            "key_params":[{
                "key":"iso",
                "required":false},{ 
                "key":"crop",
                "required":false},{ 
                "key":"irrigation",
                "required":false}]
                    }],

    ```

 * Visualization type: multi-line-chart